body {
    margin: 10px;
}

p, td, span, li, a {
    font-family: verdana, arial, helvetica, sans-serif;
}

h1 {
    font: 90% verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    margin: 0 0 5px 0;
}

h2 {
    border-bottom: 1px solid #666666;
    clear: both;
    font: 80% verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    margin: 15px 0 10px 0;
    padding: 0 0 3px 0;
    width: 700px;
}

h3 {
    float: left;
    font: 80% verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding: 0;
    width: 446px;
}

li {
    font-size: 70%;
    margin: 0 0 3px 20px;
    padding: 0;
}

p {
    font-size: 70%;
    margin: 0 0 10px 0;
    padding: 0;
    width: 575px;
}

body ul {
    margin: 0 0 0 125px;
    padding: 0;
    width: 575px;
}

body div ul {
    margin: 3px 0 0 0;
    padding: 0;
    width: 575px;
}

#bio_left {
    font-size: 75%;
    float: left;
    width: 350px;
}

#bio_right {
    font-size: 75%;
    float: left;
    text-align: right;
    width: 350px;
}

.company {
    clear: both;
    margin: 0 0 5px 0;
    padding: 0;
}

.data {
    padding-left: 125px;
}

.date {
    clear: left;
    float: left;
    padding-top: 2px;
    width: 125px;
}

.job {
    clear: both;
    width: 700px;
}

.job_data {
    float: left;
    width: 575px;
}

.location {
    clear: right;
    float: left;
    text-align: right;
    width: 125px;
}

.position {
    font-style: italic;
    margin: 0 0 5px 0;
}

#references {
    margin-top: 20px;
}

#meta {
    margin-top: 30px;
}
